<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCom</servlet-name>
  	<display-name>DeleteCom</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageSend</servlet-name>
  	<display-name>MessageSend</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MessageSend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageDelete</servlet-name>
  	<display-name>MessageDelete</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MessageDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageDeleteAll</servlet-name>
  	<display-name>MessageDeleteAll</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MessageDeleteAll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<display-name>EmailCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheckCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCom</servlet-name>
  	<url-pattern>/DeleteCom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageSend</servlet-name>
  	<url-pattern>/MessageSend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageDelete</servlet-name>
  	<url-pattern>/MessageDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageDeleteAll</servlet-name>
  	<url-pattern>/MessageDeleteAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<url-pattern>/EmailCheckCon</url-pattern>
  </servlet-mapping>
</web-app>
